@font-face { font-family: 'ArialMT';  src: local('ArialMT'), url('https://nomail.com.ua/files/woff/a27c5975a1a88dcd17c7c606902044d9.woff') format('woff'); }
*{
	padding: 0;
	margin: 0;
	font-family: ArialMT;
}	
.ul1>li{
	list-style-image: url(../img/icon.png);
}
.ul1{
	list-style: none;
	font-size: 20px;
	text-align: left;
	padding-left: 86px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-family: "ArialMT";
	font-size: 20px;
	font-weight: 400;
	line-height: 36px;
}
.conteiner{
	display:block;
	padding-left: 100px;
}
header{
	height: 323px;
	background-color: #445161;
}
h1{
	padding-left: 50px;
	padding-top: 50px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	color: #ffffff;
	font-family: "ArialMT";
	font-size: 60px;
	font-weight: 400;
	}
h2{
	padding-top: 25px;
	margin-top: 25px;
	color: #445161;
	font-family: "ArialMT";
	font-size: 30px;
	font-weight: 400;
	line-height: 36px;
	}
section{
	background-color: #f5f5f5;
	height: 526px;
}
p{
	width: 649px;
	height: 63px;
	color: #333333;
	font-family: "ArialMT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px
}
.img1{
	position: absolute;
	left: 1390px;
	bottom: 680px;
}
.img2{
	position: absolute;
	width: 430px;
	height: 245px;
	top:370px;
	right:50px;
	bottom: 60px;
}
.pluses li{
	
	height: 63px;
	color: #333333;
	font-family: "Arial MT";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.pluses{
	text-align: center;
	margin-top: 80px;
}
.ul2{
	float: left;
	list-style: none;
}
